<table align="center">
	<tr>
		<td>
			<a href="menu.rb">メインメニュー</a>
		</td>
		<td>
			<a href="javascript:goPage('edit_user', {cmd: 'edit'})">ユーザ情報編集</a>
		</td>
		<td>
			<a href="javascript:goPage('login', {cmd: 'logout'})">ログアウト</a>
		</td>
	</tr>
</table>
