body, th, td {
	font-size: 85%;
}

th {
	background-color: DarkBlue;
	color: WhiteSmoke;
}

h3 {
	border-bottom: 1px black solid;
	width: 70%;
}

.sp-off {
	display: none;
}

/* table（一覧表示用）*/
table.list {
	border-collapse: collapse;
	border: 1px gray solid;
	width: 100%;
}

table.list th, table.list td {
	border: 1px gray solid;
	padding: 2px;
}

table.list td {
	background-color: white;
}

.readonly {
	border: 0px;
}

div#system {
	font-size: 80%;
	font-weight: bold;
	text-align: right;
	color: darkblue;
	height: 50px;
}

div#title {
	display: none;
	font-size: 130%;
	font-weight: bold;
	color: white;
	background-image: url(/image/obi.png);
	background-repeat: no-repeat;
	background-position: left center;
	height: 35px;
}

/* 参考: http://desperadoes.biz/style/dan/ */
div#main {
	margin: 0;
	width: 100%;
	background-color: Gainsboro;
	border-left: 1px gray solid;
	border-top: 1px gray solid;
	border-right: 1px black solid;
	border-bottom: 1px black solid;
}

div#menu {
	float: none;
	width: 100%;
	padding: 0.5em;
}

div#content {
	padding: 0.5em;
}

div#footer {
	margin-top: 1em;
	text-align: center;
	font-size: small;
	color: #444444;
}

/* ボタン */
ul.btns {
	list-style: none;
	margin: 0em;
	padding: 0px;
	line-height: 200%;
}

ul.btns li {
	text-align: center;
	font-weight: normal;
	border: 1px darkblue outset;
	/* width: 5em; */
	float:none;			/* 横に並べ　ない */
	white-space: wrap;
}
ul.btns li a {
	text-decoration: none;
	display: block;
	/* width: 100%; */
	background-color: #DDDDFF;
	color: black;
}

ul.btns li a:hover {
	background-color: darkblue;
	color: white;
}

img.shot {
	border: 1px black solid;
}
